@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-background {
    background: linear-gradient(270deg, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.8));
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }

  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
